<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tanvir.multiplexer">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.SignUpActivity" />
        <activity android:name=".Activity.SignUp2" />
        <activity android:name=".Activity.PinActivity" />
        <activity
            android:name=".Activity.HomePage"
            android:theme="@style/AppThemeMainActivity" />
        <activity android:name=".Activity.SignInActivity" />
        <activity android:name=".Activity.ForgetPasswordActivity" />
        <activity android:name=".Activity.Sports" />
        <activity android:name=".Activity.WallpaperBundleActivity" />
        <activity android:name=".Activity.UserProfile" />
        <activity android:name=".Activity.gorom_khobor_activity" />
        <activity android:name=".Activity.Porashuna" />
        <activity android:name=".Activity.AuttoHashiActivity" />
        <activity android:name=".Activity.JibonJapon" />
        <activity android:name=".Activity.PachMishali" />
        <activity android:name=".Activity.BigganOProjukti" />
        <activity android:name=".Activity.Cartoon" />
        <activity android:name=".Activity.PaymentMethod"></activity>
    </application>

</manifest>